@charset "UTF-8";

@media screen and (min-width: 1200px){
    main{
        width: 850px;
    }

    ::selection#sec_ta_vp{
        margin: auto;
    }
    
    article.art_ta_vp{
    
        width: 380px; /* 760 / 2 */
        
    }
}