@charset "UTF-8";

@media screen and (min-width: 1200px) {
    
    body{
        width: 100vw;
        
    }

    header{
        width: 100vw;
     }

    main{
        width: 850px;  
    }

    section#imagem img{
        width: 850px;
    }

    section#conteudo{
        
    }
}